.overlay {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    /*background: rgba(0, 0, 0, .7);*/
    z-index: 1000;
}

.modal {
    background: #ffffff;
    color: #333333;
    padding: 2rem;
    position: fixed;
    bottom: 3rem;
    left: 26rem;
    z-index: 9999;
    height: 38rem;
    width: 22rem;
}

.closeModal {
    position: absolute;
    top: -6px;
    right: 6px;
    font-size: 3rem;
    color: #333;
    cursor: pointer;
    border: none;
    background: none;
}



